/*
 *  @project >> Investment.Extensions: Mintos
 *  @authors >> Raphael Krupinski
 *  @contact >> investment.extensions@gmail.com
 *  @licence >> GNU GPLv3
 */

/* Mintos colors */
:root {
    --invext-mintos-red-coords: 237, 67, 0;

    --invext-mintos-green: #78c8c7;
    --invext-mintos-red: rgb(var(--invext-mintos-red-coords));
    --invext-mintos-grey: #888;

    --invext-mintos-red-background: rgb(var(--invext-mintos-red-coords), .2);
}

div.invext-chart-container {
    position: relative;
    height: 50%;
    width: 50%;
}

.invext-chart-container canvas {
    height: 100%;
    width: 100%;
}

#payment-histogram .bar-on-time {
    background-color: var(--invext-mintos-green);
}

#payment-histogram .bar-late {
    background-color: var(--invext-mintos-red);
}

.invext-hidden {
    display: none !important;
}

td.invext-details-warning {
    color: var(--invext-mintos-red) !important;
}

.invext-blog a:visited {
    color: var(--invext-mintos-grey);
}

.invext-warning-negative {
    color: var(--invext-mintos-red);
}

.invext-highlight-late {
    background-color: var(--invext-mintos-red-background);
}

.invext-value-positive
{
    color: var(--invext-mintos-green);
}

/* go around mintos css for our injected link */
.loan-id-col .invext-target a {
    padding-left: 0;
}
